* {
  box-sizing: border-box; }

@media screen and (min-width: 769px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden; }

  header {
    margin-top: 20px; }
    header .nav {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex: 1; }
      header .nav #img {
        background-image: url(svg_files/logo_euro_amiwal.svg);
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;
        margin-top: 5px; }
      header .nav .menu {
        visibility: visible; }
      header .nav .lg {
        height: 50px; }
        header .nav .lg a {
          width: 250px; }
      header .nav .md {
        height: 50px; }
        header .nav .md a {
          width: 130px; }
      header .nav .this {
        border-bottom-style: solid;
        border-bottom-color: lightgray;
        border-bottom-width: 3px; }
      header .nav .hamburger {
        margin-left: 5px; }
      header .nav ul {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-left: 30px;
        align-content: center;
        margin: 0;
        padding: 0;
        list-style: none; }
      header .nav li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center; }
        header .nav li a {
          width: 50px;
          height: 50px;
          padding-top: 20px;
          color: #1a8ee5;
          font-weight: bold; }

  .borderbot {
    height: 75px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: lightgray; }

  #slider {
    margin-top: 25px;
    height: 690px;
    background-image: url(images/strona_glowna_slider.jpg);
    display: flex;
    justify-content: center;
    align-items: center; }
    #slider .col-lg-4 h2 {
      width: 540px;
      text-align: center;
      font-size: 42px;
      font-weight: bold;
      font-family: 'Source Sans Pro', sans-serif;
      color: white;
      background-color: black; }

  #services {
    height: 300px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px; }
    #services #napis {
      text-align: center;
      font-size: 25px;
      font-family: 'Source Sans Pro', sans-serif;
      border-bottom-width: 3px;
      border-bottom-color: black;
      border-bottom-style: solid; }
    #services #entry {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    #services .pasek {
      margin-top: 40px;
      width: 30%;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: lightgray; }
    #services #pc {
      margin-top: 15px; }
      #services #pc .img {
        width: 100px;
        height: 100px; }
      #services #pc .text {
        width: 100px;
        height: 100px;
        text-align: center;
        font-size: 25px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold; }
      #services #pc .text:first-child {
        position: relative;
        left: 1%;
        padding-top: 20px; }
      #services #pc .text:nth-child(2) {
        position: relative;
        left: 1.5%; }
      #services #pc .text:nth-child(3) {
        position: relative;
        right: 1%; }
      #services #pc .text:nth-child(4) {
        position: relative;
        right: 2%; }
      #services #pc .lg {
        width: 200px; }
      #services #pc ul {
        display: flex;
        justify-content: space-around;
        list-style: none; }
    #services #mobile {
      height: 1px;
      visibility: hidden; }

  #marki {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 200px; }
    #marki #napis {
      text-align: center;
      font-size: 25px;
      font-family: 'Source Sans Pro', sans-serif;
      border-bottom-width: 3px;
      border-bottom-color: black;
      border-bottom-style: solid; }
    #marki #entry {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    #marki .pasek {
      margin-top: 40px;
      width: 30%;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: lightgray; }
    #marki #mobile {
      height: 0px;
      width: 0px;
      visibility: hidden; }
    #marki #pc {
      margin-top: 35px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center; }
      #marki #pc img {
        opacity: 0.3;
        height: 50px;
        width: 100px; }
      #marki #pc img:hover {
        opacity: 1; }

  #aboutus {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto; }
    #aboutus #napis {
      text-align: center;
      font-size: 25px;
      font-family: 'Source Sans Pro', sans-serif;
      border-bottom-width: 3px;
      border-bottom-color: black;
      border-bottom-style: solid; }
    #aboutus #entry {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    #aboutus .pasek {
      margin-top: 40px;
      width: 30%;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: lightgray; }
    #aboutus ul {
      margin-top: 50px;
      padding-left: 50px;
      padding-right: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      list-style: none;
      padding-bottom: 20px; }
      #aboutus ul .img {
        margin-left: 30px;
        order: 2;
        width: 500px;
        height: 400px; }
      #aboutus ul .text {
        width: 400px;
        order: 1;
        margin-top: 20px;
        height: 200px;
        padding-left: 25px;
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif; }

  #parallax {
    height: 645px;
    background-image: url(images/paralax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center; }
    #parallax .display-center {
      display: flex;
      align-self: center;
      justify-content: center; }
    #parallax #napis1 {
      padding-top: 280px;
      font-size: 36px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold; }
    #parallax #napis2 {
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif; }

  footer {
    height: 765px;
    background-image: url(images/stopka.jpg);
    background-size: 100% 765px;
    text-align: center;
    color: white; }
    footer #napis1 {
      font-size: 250px; }
    footer #napis2 {
      font-size: 72px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold; }
    footer #napis3 {
      font-size: 36px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold; }
    footer #napis4 {
      font-size: 25px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold; }
    footer #napis5 {
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold; }
    footer #napis6 {
      padding-top: 25px;
      padding-left: 900px;
      font-size: 14px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold; }

  #serwis {
    margin-top: 30px;
    height: 500px; }
    #serwis #mobile {
      height: 1px;
      visibility: hidden; }
    #serwis #napis {
      text-align: center;
      font-size: 25px;
      font-family: 'Source Sans Pro', sans-serif;
      border-bottom-width: 3px;
      border-bottom-color: black;
      border-bottom-style: solid; }
    #serwis #entry {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    #serwis .pasek {
      margin-top: 40px;
      width: 30%;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: lightgray; }
    #serwis #pc {
      margin-top: 30px;
      margin-left: 50px;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      #serwis #pc ul {
        list-style: none; }
      #serwis #pc .row {
        margin-top: 15px;
        display: flex;
        justify-content: space-between; }
        #serwis #pc .row .napis {
          width: 600px; }

  #pomoc {
    height: 700px;
    margin-top: 30px; }
    #pomoc #mobile {
      height: 1px;
      visibility: hidden; }
    #pomoc #napis {
      text-align: center;
      font-size: 25px;
      font-family: 'Source Sans Pro', sans-serif;
      border-bottom-width: 3px;
      border-bottom-color: black;
      border-bottom-style: solid; }
    #pomoc #entry {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    #pomoc .pasek {
      margin-top: 40px;
      width: 30%;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: lightgray; }
    #pomoc #pc {
      margin-top: 30px;
      margin-left: 50px;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      #pomoc #pc #napis2 {
        margin-right: 30px;
        text-align: center;
        height: 150px;
        width: 500px;
        font-size: 25px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        background-color: #212946;
        color: white;
        display: flex; }
        #pomoc #pc #napis2 #charbox {
          text-align: center;
          width: 60px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
        #pomoc #pc #napis2 #text {
          margin: auto; }
      #pomoc #pc figure {
        margin-right: 30px; }
        #pomoc #pc figure img {
          background-repeat: no-repeat; }
      #pomoc #pc ul {
        list-style: none; }
      #pomoc #pc .row {
        margin-top: 15px;
        display: flex;
        justify-content: space-around; }
        #pomoc #pc .row .text {
          width: 500px; } }
      @media screen and (min-width: 769px) and (min-width: 1040px) {
        #pomoc #pc .row #text2 {
          position: relative;
          right: 10px; } }
      @media screen and (min-width: 769px) and (max-width: 1039px) {
        #pomoc #pc .row #text2 {
          position: relative;
          right: 10px; } }
@media screen and (min-width: 769px) {
        #pomoc #pc .row .row:nth-child(2) .text {
          height: 200px; }

  #kontakt {
    margin-top: 50px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    position: relative;
    left: 15%; }
    #kontakt #mobile {
      height: 0px;
      visibility: hidden; }
    #kontakt #form {
      display: block;
      float: left; } }
    @media screen and (min-width: 769px) and (max-width: 1039px) {
      #kontakt #form {
        position: relative;
        right: 27%; } }
    @media screen and (min-width: 769px) and (min-width: 1039px) {
      #kontakt #form {
        position: relative;
        right: 15%; } }
@media screen and (min-width: 769px) {
    #kontakt #info {
      padding-top: 10px;
      text-align: center;
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; } }
    @media screen and (min-width: 769px) and (max-width: 1039px) {
      #kontakt #info {
        background-color: red;
        position: relative;
        right: 15%;
        top: 50px; } }
    @media screen and (min-width: 769px) and (min-width: 1039px) {
      #kontakt #info {
        margin-left: 50px; } }
@media screen and (min-width: 769px) {
      #kontakt #info .fa::first-letter {
        color: #148ae1; }
    #kontakt .blue_message {
      font-weight: bold;
      font-size: 25px;
      color: #148ae1; }
    #kontakt .button, #kontakt #submit {
      background-color: #148ae1;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer; }
    #kontakt #kadra {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      left: 5%;
      clear: both; }
      #kontakt #kadra .opis {
        float: left;
        margin-top: 100px;
        margin-left: 50px; }
      #kontakt #kadra #pracownik1 {
        float: left;
        margin-top: 50px; }
      #kontakt #kadra #pracownik2 {
        float: left;
        margin-top: 50px;
        margin-left: 50px; } }
@media screen and (max-width: 768px) {
  body {
    max-width: 100%;
    overflow-x: hidden; }

  header {
    height: 100px;
    text-align: center; }
    header .nav {
      margin-top: 10px;
      display: flex;
      justify-content: center; }
      header .nav .menu {
        z-index: 100;
        width: 100%;
        visibility: hidden; }
      header .nav #img {
        height: 75px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        background-image: url(svg_files/logo_euro_amiwal.svg);
        background-repeat: no-repeat; }
      header .nav ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style: none; }
      header .nav li:not(:first-child) {
        text-align: center; }
        header .nav li:not(:first-child) a {
          background-color: black;
          display: block;
          padding: 15px;
          color: white;
          font-weight: bold; }
      header .nav li:not(:first-child) {
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: orange; }
    header .hamburger {
      margin-left: auto;
      margin-right: auto;
      width: 40px;
      height: 35px;
      border: 0;
      border-top: 5px solid black;
      background: transparent;
      position: relative;
      transition: 0.3s transform linear;
      margin-bottom: 10px; }
    header .hamburger::before, header .hamburger::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-top: 5px solid black;
      transform: translateY(10px); }
    header .hamburger::after {
      transform: translateY(25px);
      transition: 0.3s transform linear; }
    header .hamburger:focus {
      transform: rotate(45deg) translateY(5px);
      border: none; }
    header .hamburger:focus::after {
      transform: rotate(-90deg) translateX(-10px); }

  .h360 {
    margin-left: auto;
    height: 100px; }
    .h360 ul {
      width: 500px; }

  .header-fixed {
    background-color: white;
    z-index: 100;
    width: 110%;
    position: fixed;
    top: 0px; }
    .header-fixed ul li:first-child {
      float: left; }
    .header-fixed ul #burger {
      position: fixed;
      left: 10%;
      top: 20px; }
    .header-fixed ul li {
      background-color: white; }

  #slider {
    margin-top: 25px;
    height: 690px;
    background-image: url(images/strona_glowna_slider.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; } }
  @media screen and (max-width: 768px) and (max-width: 550px) {
    #slider .col-lg-4 h2 {
      width: 90%;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Source Sans Pro', sans-serif;
      color: white;
      background-color: black; } }
  @media screen and (max-width: 768px) and (min-width: 551px) {
    #slider .col-lg-4 h2 {
      width: 520px;
      text-align: center;
      font-size: 42px;
      font-weight: bold;
      font-family: 'Source Sans Pro', sans-serif;
      color: white;
      background-color: black; } }

@media screen and (max-width: 768px) {
  #services {
    height: 620px;
    padding-top: 15px; }
    #services #napis {
      text-align: center;
      font-size: 25px;
      font-family: 'Source Sans Pro', sans-serif;
      border-bottom-width: 3px;
      border-bottom-color: black;
      border-bottom-style: solid; }
    #services #entry {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    #services .pasek {
      margin-top: 40px;
      width: 30%;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: lightgray; }
    #services #pc {
      height: 1px;
      visibility: hidden; }
    #services ul {
      padding-top: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none; }
      #services ul a {
        text-decoration: none; }
      #services ul .img {
        position: relative;
        right: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 60px;
        height: 60px; }
      #services ul .text {
        position: relative;
        right: 5%;
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        height: 50px; }

  #aboutus {
    margin-top: 30px;
    background-color: #f4f8f9;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto; }
    #aboutus #napis {
      text-align: center;
      font-size: 25px;
      font-family: 'Source Sans Pro', sans-serif;
      border-bottom-width: 3px;
      border-bottom-color: black;
      border-bottom-style: solid; }
    #aboutus #entry {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    #aboutus .pasek {
      margin-top: 40px;
      width: 30%;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: lightgray; }
    #aboutus ul {
      padding-top: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none; }
      #aboutus ul .img {
        margin-left: auto;
        margin-right: auto;
        padding-right: 30px;
        width: 100%;
        height: 400px; } }
    @media screen and (max-width: 768px) and (max-width: 550px) {
      #aboutus ul .text {
        margin-right: 10px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif; } }
    @media screen and (max-width: 768px) and (min-width: 551px) {
      #aboutus ul .text {
        margin-right: 10px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif; } }

@media screen and (max-width: 768px) {
  #parallax {
    height: 645px;
    background-image: url(images/paralax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center; }
    #parallax .display-center {
      display: flex;
      align-self: center;
      justify-content: center; }
    #parallax #napis1 {
      padding-top: 280px;
      font-size: 36px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold; }
    #parallax #napis2 {
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif; }

  #marki {
    height: 500px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto; }
    #marki #napis {
      text-align: center;
      font-size: 25px;
      font-family: 'Source Sans Pro', sans-serif;
      border-bottom-width: 3px;
      border-bottom-color: black;
      border-bottom-style: solid; }
    #marki #entry {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    #marki .pasek {
      margin-top: 40px;
      width: 30%;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: lightgray; }
    #marki #pc {
      height: 0px;
      width: 0px;
      visibility: hidden; }
    #marki #mobile {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 15px; }
      #marki #mobile .hidden-sm, #marki #mobile .hidden-xs {
        visibility: hidden;
        background-color: red; }
      #marki #mobile row {
        background-color: red; }
      #marki #mobile .img {
        margin-top: 10px;
        opacity: 1;
        width: 100px;
        height: 100px; }
      #marki #mobile .img:nth-child(2) {
        margin-left: 50px; }

  footer {
    height: 800px;
    background-image: url(images/stopka.jpg);
    background-repeat: no-repeat;
    text-align: center;
    color: white; }
    footer #napis1 {
      font-size: 150px; }
    footer #napis2 {
      font-size: 72px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold; }
    footer #napis3 {
      font-size: 36px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold; }
    footer #napis4 {
      font-size: 25px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold; }
    footer #napis5 {
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold; }
    footer #napis6 {
      visibility: hidden; }

  #serwis {
    height: 1300px;
    margin-top: 40px; }
    #serwis #pc {
      height: 1px;
      visibility: hidden; }
    #serwis #napis {
      text-align: center;
      font-size: 25px;
      font-family: 'Source Sans Pro', sans-serif;
      border-bottom-width: 3px;
      border-bottom-color: black;
      border-bottom-style: solid; }
    #serwis #entry {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    #serwis .pasek {
      margin-top: 40px;
      width: 30%;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: lightgray; }
    #serwis #mobile {
      height: 1200px; }
    #serwis ul {
      margin-right: 30px;
      margin-top: 30px;
      text-align: center; }
      #serwis ul li {
        margin-top: 15px;
        list-style: none; }

  #pomoc {
    height: 1100px;
    margin-top: 40px;
    margin-bottom: 30px; }
    #pomoc #pc {
      height: 1px;
      visibility: hidden; }
    #pomoc #napis {
      text-align: center;
      font-size: 25px;
      font-family: 'Source Sans Pro', sans-serif;
      border-bottom-width: 3px;
      border-bottom-color: black;
      border-bottom-style: solid; }
    #pomoc #entry {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    #pomoc .pasek {
      margin-top: 40px;
      width: 30%;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: lightgray; }
    #pomoc #mobile {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      #pomoc #mobile .text {
        margin-top: 15px; }
      #pomoc #mobile #textbox {
        width: 600px;
        height: 100px;
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #212946;
        color: white;
        font-size: 25px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold; }
        #pomoc #mobile #textbox #charbox {
          display: flex;
          align-items: center;
          height: 100%;
          width: 20px; }
      #pomoc #mobile figure {
        margin-top: 40px; }

  #kontakt {
    margin-top: 100px;
    height: 1300px;
    margin-left: 30px; }
    #kontakt #pc {
      height: 0px;
      width: 0px;
      visibility: hidden; }
    #kontakt #mobile {
      margin-left: auto;
      margin-right: auto;
      right: 40px;
      width: 300px;
      margin-top: 40px;
      height: 1200px;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 21px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold; }
      #kontakt #mobile #kadra {
        margin-top: 30px; }
      #kontakt #mobile .fa {
        margin-top: 15px; }
      #kontakt #mobile .fa::first-letter {
        color: #148ae1; }
      #kontakt #mobile .blue_message {
        font-weight: bold;
        font-size: 25px;
        color: #148ae1; }
      #kontakt #mobile .img-circle {
        margin-top: 25px; }
      #kontakt #mobile .img-circle:first-child {
        margin-top: 5px; }
      #kontakt #mobile .button, #kontakt #mobile #submit {
        background-color: #148ae1;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer; } }

/*# sourceMappingURL=style.css.map */
