
@media screen and (min-width: 769px) 
{  
	.blue_message
	{
		color: #148AE1;
		font-weight: bold;
	}
	.form
	{
		grid-area: form;
		input, textarea
		{
			margin-top: 10px;
			border-radius: 5px;
		}
		.button, #submit
		{
			background-color:  #148AE1;
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			cursor: pointer;
		}
	}
	.info 
	{
		grid-area: info;
		i
		{
			width: 25px;
		}
		.day
		{
			width: 120px;
			float: left;
		}
		time
		{
			margin-left: 30px;
		}
	}
	
	.employees 
	{
		grid-area: employees;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 10% 25% 10% 10%;
		grid-template-rows: 50px 50px 50px 50px;
		
		button
		{
			background-color: rgb(20,138,225);
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
			width: 150px;
		}
		#employees_text
		{
			grid-column: 1 / 4;
			grid-row: 1;
		}
		#fotka1
		{
			display: block;
			margin-left: auto;
			margin-right: auto;
			grid-column: 1 / 2;
			grid-row: 2 / 5;
		}	
		
		#imie1
		{
			position: relative;
			bottom: 1vw;
			grid-column: 2 / 2;
			grid-row: 2;
		}
		#numer1
		{
			position: relative;
			bottom: 2vw;
			grid-column: 2 / 2;
			grid-row: 3;
		}
		#btn1
		{
			position: relative;
			bottom: 2vw;
			grid-column: 2;
			grid-row: 4;
		}	
		
		#fotka2
		{
			grid-column: 4;
			grid-row: 2 / 5;
		}	
		
		#imie2
		{
			position: relative;
			bottom: 1vw;
			grid-column: 5;
			grid-row: 2;
		}
		#numer2
		{
			position: relative;
			bottom: 2vw;
			grid-column: 5;
			grid-row: 3;
		}
		#btn2
		{
			position: relative;
			bottom: 2vw;
			grid-column: 5;
			grid-row: 4;	
		}

	}
	
	#kontakt
	{
		margin-top: 20px;
		padding-top: 60px;
		color: black;
		border-top-width: 2px;
		border-top-style: solid;
		border-top-color: lightgray;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 10% 40% 40% 10%;
		grid-template-rows: 400px 270px;
		grid-template-areas:
			"....... form info ......."
			"....... employees employees .......";
		background-color: #fff;
		color: #444;
		
		.input
		{
			margin-top: 5px;
			color: black;
		}
		
		.box 
		{
		  background-color: #444;
		  color: #fff;
		  border-radius: 5px;
		  padding: 20px;
		  font-size: 150%;
		}
	}
}

@media screen and (max-width: 768px) 
{	
	.blue_message
	{
		color: #148AE1;
		font-weight: bold;
	}
	.form
	{
		text-align: center;
		grid-area: form;
		input, textarea
		{
			position: relative;
			right: 5px;
			width: 90vw;
			margin-top: 10px;
			border-radius: 5px;
		}
		.button, #submit
		{
			background-color:  #148AE1;
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			cursor: pointer;
		}
	}
	.info 
	{
		text-align: center;
		grid-area: info;
		i
		{
			width: 25px;
		}
		.day
		{
			width: 120px;
			float: left;
			@media screen and (min-width: 400px) 
			{	
				margin-left: 20vw*1.1;
			}	
			@media screen and (min-width: 300px) and (max-width: 317px)
			{	
				margin-left: 10vw;
			}		
			@media screen and (min-width: 317px) and (max-width: 400px)
			{	
				margin-left: 15vw;
			}		
			@media screen and (max-width: 400px) 
			{	

			}
		}
		time
		{

		}
	}
	
	.employees 
	{
		grid-area: employees;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 100%;
		grid-template-rows: 60px 150px 50px 50px 50px 150px 50px 50px 50px;
		text-align: center;
				
		button
		{
			background-color: rgb(20,138,225);
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
			width: 150px;
		}
		#employees_text
		{
			grid-row: 1;
		}
		#fotka1
		{
			display: block;
			margin-left: auto;
			margin-right: auto;
			grid-row: 2;
		}	
		
		#imie1
		{
			position: relative;
			bottom: 20px;
			grid-row: 3;
		}
		#numer1
		{
			position: relative;
			bottom: 40px;
			grid-row: 4;
		}
		#btn1
		{
			display: block;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			bottom: 30px;
			grid-row: 5;
		}	
		
		#fotka2
		{	
			display: block;
			margin-left: auto;
			margin-right: auto;
			grid-row: 6;
		}	
		
		#imie2
		{
			position: relative;
			bottom: 20px;
			grid-row: 7;
		}
		#numer2
		{
			position: relative;
			bottom: 40px;
			grid-row: 8;
		}
		#btn2
		{
			display: block;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			bottom: 30px;
			grid-row: 9;	
		}

	}
	
	#kontakt
	{
		margin-top: 20px;
		padding-top: 60px;
		color: black;
		border-top-width: 2px;
		border-top-style: solid;
		border-top-color: lightgray;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 100%;
		grid-template-rows: 30px 25p 55px;
		grid-template-areas:
			"form"
			"info"
			"employees"
			"employees";
		background-color: #fff;
		color: #444;
		
		.input
		{
			margin-top: 5px;
			color: black;
		}
		
		.box 
		{
		  background-color: #444;
		  color: #fff;
		  border-radius: 5px;
		  padding: 20px;
		  font-size: 150%;
		}
	}
}