
@media screen and (min-width: 769px) 
{  
	#map
	{
		padding-top: 30px;
		iframe
		{	
			pointer-events: none;
		}
	}
}

@media screen and (max-width: 768px) 
{

	#map
	{
		width: 100%;
		iframe
		{	
			pointer-events: none;
		}
	}
}