@media screen and (max-width: 768px) 
{  

	body
	{
		max-width: 100%;
		overflow-x: hidden;
	}

	header
	{	
		height: 100px;
		text-align: center;
		
		.nav
		{					
			margin-top: 10px;
			display: flex;
			justify-content: center;
						
			.menu
			{
				z-index: 100;
				width: 100%;
				visibility: hidden;
			}
			
			#img
			{
				height: 75px;
				width: 200px;
				margin-left: auto;
				margin-right: auto;
				background-image: url(svg_files/logo_euro_amiwal.svg);
				background-repeat: no-repeat;
			}

			ul
			{
				width: 100%;
				display: flex;
				flex-direction: column;
				list-style: none;
			}		

			li:not(:first-child)
			{		
				text-align: center;
				a
				{
					background-color: black;
					display: block;
					padding: 15px;
					color: white;
					font-weight: bold;
				}
			}

			li:not(:first-child)
			{
				border-bottom-style: solid;
				border-bottom-width: 2px;
				border-bottom-color: orange;
			}			

		}

		.hamburger 
		{
			margin-left: auto;
			margin-right: auto;
			width: 40px;
			height: 35px;
			border: 0;
			border-top: 5px solid black;
			background: transparent;
			position: relative;
			transition: 0.3s transform linear;
			margin-bottom: 10px;
		}

		.hamburger::before, .hamburger::after 
		{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			border-top: 5px solid black;
			transform: translateY(10px);
		}

		.hamburger::after 
		{
			transform: translateY(25px);
			transition: 0.3s transform linear;
		}

		.hamburger:focus
		{
			transform: rotate(45deg) translateY(5px);
			border: none;
		}

		.hamburger:focus::after 
		{
		    transform: rotate(-90deg) translateX(-10px);
		}
	}
	
	.h360
	{
		ul
		{
			width: 100%;
		}
		margin-left: auto;
		height: 100px;

	}
	
	.header-fixed
	{
		background-color: white;
		z-index: 100;
		
		position: fixed;
		left: 25%;
		top: 0px;
		
		ul
		{
			display: flex;
			justify-content: center;
			
			width: 110%;
			li
			{
				background-color: white;
			}
		}
	}

	#slider
	{
		margin-top: 25px;
		height: 690px;
		background-image: url(images/strona_glowna_slider.jpg);
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
		
		.col-lg-4
		{
			h2
			{
				width: 520px;
				text-align: center;
				font-size: 42px;
				font-weight: bold;
				font-family: 'Source Sans Pro', sans-serif;
				color: white;
				background-color: black;
			}
		}
	}
	
	#services
	{
		height: 620px;
		padding-top: 15px;
		
		#napis
		{
			text-align: center;
			font-size: 25px;
			font-family: 'Source Sans Pro', sans-serif;
			border-bottom-width: 3px;
			border-bottom-color: black;
			border-bottom-style: solid;
		}
		
		#entry
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.pasek
		{
			margin-top: 40px;
			width: 30%;
			border-bottom-style: solid;
			border-bottom-width: 2px;
			border-bottom-color: lightgray;	
		}
		
		#pc
		{
			height: 1px;
			visibility: hidden;
		}

		ul
		{
			padding-top: 25px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			list-style: none;
			a
			{
				text-decoration: none;
			}
			.img
			{
				position: relative;
				right: 5%;
				margin-left: auto;
				margin-right: auto;
				width: 60px;
				height: 60px;
			}
			.text
			{		
				position: relative;
				right: 5%;
				margin-top: 20px;
				text-align: center;
				font-size: 18px;
	
				font-family: 'Source Sans Pro', sans-serif;
				height: 50px;
			}
		}
	}
	
	#aboutus
	{
		margin-top: 30px;
		background-color:  rgb(244, 248, 249);
		padding-top: 15px;
		margin-left: auto;
		margin-right: auto;
		
		#napis
		{
			text-align: center;
			font-size: 25px;
			font-family: 'Source Sans Pro', sans-serif;
			border-bottom-width: 3px;
			border-bottom-color: black;
			border-bottom-style: solid;
		}
		#entry
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.pasek
		{
			margin-top: 40px;
			width: 30%;
			border-bottom-style: solid;
			border-bottom-width: 2px;
			border-bottom-color: lightgray;	
		}
		
		ul
		{
			padding-top: 25px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			list-style: none;
			
			.img
			{
				margin-left: auto;
				margin-right: auto;
				padding-right: 30px;
				width: 400px;
				height: 400px;
			}
			.text
			{					
				margin-top: 20px;
				height: 300px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 18px;
				font-family: 'Source Sans Pro', sans-serif;
				overflow: auto;

			}
		}
	}
	
	#parallax
	{
		height: 645px;
		background-image: url(images/paralax.jpg);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
		text-align: center;

		.display-center
		{
			display: flex;
			align-self: center;
			justify-content: center;
		}

		#napis1
		{
				padding-top: 280px;
				font-size: 36px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: bold;
		}
		#napis2
		{
				font-size: 18px;
				font-family: 'Source Sans Pro', sans-serif;
		}
	}

	#marki
	{
		height: 600px;
		padding-top: 15px;
		margin-left: auto;
		margin-right: auto;
		
		#napis
		{
			text-align: center;
			font-size: 25px;
			font-family: 'Source Sans Pro', sans-serif;
			border-bottom-width: 3px;
			border-bottom-color: black;
			border-bottom-style: solid;
		}
		#entry
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.pasek
		{
			margin-top: 40px;
			width: 30%;
			border-bottom-style: solid;
			border-bottom-width: 2px;
			border-bottom-color: lightgray;	
		}
		
		#znaczki
		{
			.hidden-sm, .hidden-xs
			{
				visibility: hidden;
				background-color: red;
			}

			row
			{
				background-color: red;
			}
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			margin-top: 15px;
			
			.img
			{
				margin-top: 10px;
				opacity: 0.3;
				width: 100px;
				height: 100px;
			}
			.img:nth-child(2)
			{
				margin-left: 50px;
			}
			.img:hover
			{
				opacity: 1;
			}
		
		}}
	
	footer
	{
		height: 700px;
		background-image: url(images/stopka.jpg);
		background-repeat: no-repeat;
		text-align: center;
		color: white;

		#napis1
		{
				font-size: 150px;
		}	
		#napis2
		{
				font-size: 72px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: bold;
		}
		#napis3
		{
				font-size: 36px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: bold;
		}
		#napis4
		{
				font-size: 25px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: bold;
		}
		#napis5
		{
				font-size: 18px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: bold;
		}
		#napis6
		{
			visibility: hidden;
		}	
	}

	#czesci
	{
		margin-top: 40px;
				
		#napis
		{
			text-align: center;
			font-size: 25px;
			font-family: 'Source Sans Pro', sans-serif;
			border-bottom-width: 3px;
			border-bottom-color: black;
			border-bottom-style: solid;
		}
		#entry
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.pasek
		{
			margin-top: 40px;
			width: 30%;
			border-bottom-style: solid;
			border-bottom-width: 2px;
			border-bottom-color: lightgray;	
		}
	}
	
	#naprawy
	{
		margin-top: 40px;
				
		#napis
		{
			text-align: center;
			font-size: 25px;
			font-family: 'Source Sans Pro', sans-serif;
			border-bottom-width: 3px;
			border-bottom-color: black;
			border-bottom-style: solid;
		}
		#entry
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.pasek
		{
			margin-top: 40px;
			width: 30%;
			border-bottom-style: solid;
			border-bottom-width: 2px;
			border-bottom-color: lightgray;	
		}
	}
	
	#serwis
	{
		height: 1000px;
		margin-top: 40px;
			
		#pc
		{
			height: 1px;
			visibility: hidden;
		}
		#napis
		{
			text-align: center;
			font-size: 25px;
			font-family: 'Source Sans Pro', sans-serif;
			border-bottom-width: 3px;
			border-bottom-color: black;
			border-bottom-style: solid;
		}
		#entry
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.pasek
		{
			margin-top: 40px;
			width: 30%;
			border-bottom-style: solid;
			border-bottom-width: 2px;
			border-bottom-color: lightgray;	
		}
		
		ul
		{
			margin-top: 30px;
			text-align: center;
			li
			{
				margin-top: 15px;
				list-style: none;
			}
		}
	}
	
	#pomoc
	{
		height: 1100px;
		margin-top: 40px;
			
		#pc
		{
			height: 1px;
			visibility: hidden;
		}
		#napis
		{
			text-align: center;
			font-size: 25px;
			font-family: 'Source Sans Pro', sans-serif;
			border-bottom-width: 3px;
			border-bottom-color: black;
			border-bottom-style: solid;
		}
		#entry
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.pasek
		{
			margin-top: 40px;
			width: 30%;
			border-bottom-style: solid;
			border-bottom-width: 2px;
			border-bottom-color: lightgray;	
		}
		
		#mobile
		{
			text-align: center;
			display: flex;
			justify-content: center;
			flex-direction: column;
			.text
			{
				margin-top: 15px;
			}
			#textbox
			{
				margin-top: 30px;
				display: flex;
				align-items: center;
				text-align: center;
				height: 200px;
				background-color: #212946;
				color: white;
				font-size: 25px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: bold;
				#charbox
				{
					display: flex;
					align-items: center;
					height: 100%;
					width: 20px;
				}
			}
			figure
			{
				margin-top: 40px;
			}
		}
	}
}