*
{
	box-sizing:border-box;
}
@media screen and (min-width: 769px) 
{  
	html, body 
	{
		max-width: 100%;
		overflow-x: hidden;
	}
	
	header
	{
		margin-top: 20px;
		#mobile_menu
		{
			display: none;
		}
		#pc_menu
		{					
			text-align: center;
			display: flex;
			justify-content: center;
			flex-direction: row;
			flex: 1;

			#img
			{
				background-image: url(svg_files/logo_euro_amiwal.svg);
				background-repeat: no-repeat;
				width: 200px;
				height: 200px;
				margin-top: 5px;
			}
			
			.menu
			{
				visibility: visible;
			}
			
			.lg
			{
				height: 50px;
				a
				{
					width: 250px;
				}
			}
			
			.md
			{
				height: 50px;
				a
				{
					width: 130px;
				}
			}
			
			.this
			{
				border-bottom-style: solid;
				border-bottom-color: lightgray;
				border-bottom-width: 3px;
			}
			.hamburger
			{
				display: none;
			}
			
			ul
			{
				height: 50px;
				width: 100%;
				display: flex;
				justify-content: space-around;
				padding-left: 30px;
				align-content: center;
				margin: 0;
				padding: 0;
				list-style: none;
			}
			li
			{			
				display: flex;
				flex-direction: row;
				justify-content: center;
				text-align: center;
				a
				{
					width: 50px;
					height: 50px;
					padding-top: 20px;
					color: #1a8ee5;
					font-weight: bold;
					font-family: 'Source Sans Pro', sans-serif;
					font-size: 16px;
				}
			}
		}
	}
	
	.borderbot
	{
		height: 75px;
		border-bottom-width: 3px;
		border-bottom-style: solid;
		border-bottom-color: lightgray;
	}
	
	#slider
	{
		margin-top: 25px;
		margin-left: 0.5%;
		margin-right: 0.5%;
		width: 99%;
		height: 690px;
	
		background-image: url(images/strona_glowna_slider.jpg);
		display: flex;
		justify-content: center;
		align-items: center;
		object-fit: fill;
		h1
		{
			width: 540px;
			text-align: center;
			font-size: 42px;
			font-weight: bold;
			font-family: 'Source Sans Pro', sans-serif;
			color: white;
			background-color: black;
		}
	}
	
	#services
	{
		height: 300px;
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
		
		#mobile
		{
			display: none;
		}
		.napis
		{
			text-align: center;
			font-size: 25px;
			font-family: 'Source Sans Pro', sans-serif;
			border-bottom-width: 3px;
			border-bottom-color: black;
			border-bottom-style: solid;
		}

		.entry
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.pasek
		{
			margin-top: 40px;
			width: 30%;
			border-bottom-style: solid;
			border-bottom-width: 2px;
			border-bottom-color: lightgray;	
		}
		
		#pc
		{
			margin-top: 15px;
			.img
			{	
				width: 100px;
				height: 100px;
			}
			.text
			{
				width: 100px;
				height: 100px;
				text-align: center;
				font-size: 25px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: bold;
			}
			.text:first-child
			{
				position: relative;
				left: 1%;
				padding-top: 20px;
			}
			.text:nth-child(2)
			{
				position: relative;
				left: 1.5%;
			}
			
			.text:nth-child(3)
			{
				position: relative;
				right: 1%;
			}
			
			.text:nth-child(4)
			{
				position: relative;
				right: 2%;
			}
			
			.lg
			{
				width: 200px;
			}
			ul
			{
				display: flex;
				justify-content: space-around;
				list-style: none;
			}
		}
	}
	
	#marki
	{
		
		margin-top: 25px;
		margin-left: auto;
		margin-right: auto;
		height: 200px;
		.napis
		{
			text-align: center;
			font-size: 25px;
			font-family: 'Source Sans Pro', sans-serif;
			border-bottom-width: 3px;
			border-bottom-color: black;
			border-bottom-style: solid;
		}
		.entry
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.pasek
		{
			margin-top: 40px;
			width: 30%;
			border-bottom-style: solid;
			border-bottom-width: 2px;
			border-bottom-color: lightgray;	
		}
		
		#mobile
		{
			display: none;
		}
		#pc
		{
			
				margin-top: 35px;
				display: flex;
				justify-content: center;
				flex-direction: row;
				align-items: center;
				img
				{	

					@media screen and (min-width: 901px) 
					{  
						width: 100px;
						margin-left: 20px;
					}		
					@media screen and (max-width: 900px) 
					{  
						width: 85px;
						margin-left: 5px;
					}
					opacity: 0.3;
					height: 70px;

				}
				img:hover
				{
					opacity: 1;
				}
		}
	}
	
	#aboutus
	{
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
		
		.napis
		{
			text-align: center;
			font-size: 25px;
			font-family: 'Source Sans Pro', sans-serif;
			border-bottom-width: 3px;
			border-bottom-color: black;
			border-bottom-style: solid;
		}
		.entry
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.pasek
		{
			margin-top: 40px;
			width: 30%;
			border-bottom-style: solid;
			border-bottom-width: 2px;
			border-bottom-color: lightgray;	
		}
		ul
		{
			margin-top: 50px;
			padding-left: 50px;
			padding-right: 30px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			list-style: none;
			
			
			.img
			{
				margin-left: 30px;
				order: 2;
				width: 500px;
				height: 400px;
			}
			.text
			{	
				width: 400px;
				order: 1;
				margin-top: 20px;
				height: 200px;
				padding-left: 25px;
				font-size: 18px;
				font-family: 'Source Sans Pro', sans-serif;
			}
			padding-bottom: 20px;
		}
	}
	
	#parallax
	{
		height: 645px;
		margin-left: 0.5%;
		margin-right: 0.5%;
		width: 99%;
		background-image: url(images/paralax.jpg);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
		text-align: center;

		.display-center
		{
			display: flex;
			align-self: center;
			justify-content: center;
		}

		#napis1
		{
				padding-top: 280px;
				font-size: 36px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: bold;
		}
		#napis2
		{
				font-size: 18px;
				font-family: 'Source Sans Pro', sans-serif;
		}
	}
	
	#map
	{
		width: 99%;
		margin-left: 0.5%;
		margin-right: 0.5%;
	}
	
	footer
	{
		height: 765px;
		
		background-image: url(images/stopka.jpg);
		background-size: 99% 765px;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		color: white;

		#napis1
		{
				font-size: 250px;
		}	
		#napis2
		{
				font-size: 72px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: bold;
		}
		#napis3
		{
				font-size: 36px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: bold;
		}
		#napis4
		{
				font-size: 25px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: bold;
		}
		#napis5
		{
				font-size: 18px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: bold;
		}
		#napis6
		{
				position: relative;
				left: 35%;
				font-size: 14px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: bold;
		}
	}
	
	#serwis
	{
		margin-top: 30px;
		margin-right: 15px;
		padding-right: 15px;
		overflow: hidden;
		@media screen and (max-width: 900px) 
		{  
			height: 90vw;
		}		
		@media screen and (max-width: 950px) and (min-width: 901px)
		{  
			height: 80vw;
		}	
		
		#mobile
		{
			display: none;
		}
		.napissrodkowy
		{
			text-align: center;
			font-size: 25px;
			font-family: 'Source Sans Pro', sans-serif;
			border-bottom-width: 3px;
			border-bottom-color: black;
			border-bottom-style: solid;
		}
		.entry
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.pasek
		{
			margin-top: 40px;
			width: 30%;
			border-bottom-style: solid;
			border-bottom-width: 2px;
			border-bottom-color: lightgray;	
		}
		
		#pc
		{
			margin-top: 30px;
			margin-left: 50px;
			margin-bottom: 15px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			ul
			{
				list-style: none;
			}
			.row
			{
				margin-top: 15px;
				display: flex;
				justify-content: space-between;
				.napis
				{
					width: 600px;
				}
			}
		}
	}
	
	#pomoc
	{
		height: 700px;
		margin-top: 30px;
		
		#mobile
		{
			display: none;
		}
		.napis
		{
			text-align: center;
			font-size: 25px;
			font-family: 'Source Sans Pro', sans-serif;
			border-bottom-width: 3px;
			border-bottom-color: black;
			border-bottom-style: solid;
		}
		.entry
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.pasek
		{
			margin-top: 40px;
			width: 30%;
			border-bottom-style: solid;
			border-bottom-width: 2px;
			border-bottom-color: lightgray;	
		}
		
		#pc
		{	
			margin-top: 30px;
			margin-left: 50px;
			margin-bottom: 15px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			
			#napis2
			{
				margin-right: 30px;
				text-align: center;
				height: 150px;
				width: 500px;
				font-size: 25px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: bold;
				background-color: #212946;
				color: white;
				display: flex;
				
				#charbox
				{		
					text-align: center;
					width: 60px;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				#text
				{
					margin: auto;
				}
			}
			
			figure
			{
				margin-right: 30px;

				img
				{
					background-repeat: no-repeat;
				}
			}
			
			ul
			{
				list-style: none;
			}
			
			.row
			{
				margin-top: 15px;
				display: flex;
				justify-content: space-around;
				.text
				{
					width: 500px;
				}
				

				#text2
				{
					position: relative;
					right: 19px;
				}
				
			.row:nth-child(2)
			{
				.text
				{
					height: 200px;
				}
			}
		}
	}
}
	
	#kontakt
	{
		border-top-style: solid;
		border-top-width: 2px;
		border-top-color: lightgray;
		padding-top: 30px;
		letter-spacing: 1px;
		margin-top: 40px;
		height: 750px;

		font-size: 25px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: bold;
		display: flex;
		justify-content: center;
		#mobile
		{
			display: none;
		}

		#form
		{
			@media screen and (max-width: 1039px) 
			{  
			}
			@media screen and (min-width: 1039px) 
			{
			}
			display:block;
			float: left;
		}
		#info
		{
			margin-left: 450px;
			padding-top: 10px;

			text-align: center;
			width: 350px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			.fa::first-letter
			{
				color: rgb(20,138,225);
			}
		}
		.blue_message
		{
			font-weight: bold;
			font-size: 25px;
			color: rgb(20,138,225);
		}
		
		.button, #submit
		{
			position: relative;
			bottom: 20px;
			background-color: rgb(20,138,225);
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
		}
		#kadra
		{
			clear: both;
			margin-top: 50px;
			.opis
			{
				float: left;
				margin-top: 60px;
				margin-left: 50px;
			}
			#pracownik1
			{
				margin-top: 10px;
				float: left;

			}
			#pracownik2
			{
				float: left;
				margin-top: 10px;
				margin-left: 50px;
			}
		}
	}
}	
