@media screen and (min-width: 769px) 
{  
	#services
	{
		height: 300px;
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
		
		#mobile
		{
			display: none;
		}
		
		h1
		{
			text-align: center;
			font-size: 25px;
			position: relative;
			top: 11px;
			padding-bottom: 5px;
			border-bottom-width: 3px;
			border-bottom-color: black;
			border-bottom-style: solid;
		}
		.entry
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.pasek
		{
			margin-top: 40px;
			width: 30%;
			border-bottom-style: solid;
			border-bottom-width: 2px;
			border-bottom-color: lightgray;	
		}
		
		#pc
		{
			margin-top: 15px;
			.img
			{	
				width: 60px;
				height: 60px;
			}
			.text
			{
				width: 100px;
				height: 100px;
				text-align: center;
				font-size: 25px;
				font-weight: bold;
			}
			.text:first-child
			{
				position: relative;
				left: 1%;
				padding-top: 20px;
			}
			.text:nth-child(2)
			{
				position: relative;
				left: 1.5%;
			}
			
			.text:nth-child(3)
			{
				position: relative;
				right: 1%;
			}
			
			.text:nth-child(4)
			{
				position: relative;
				right: 2%;
			}
			
			.lg
			{
				width: 200px;
			}
			ul
			{
				display: flex;
				justify-content: space-around;
				list-style: none;
			}
		}
	}
}

@media screen and (max-width: 768px) 
{
	#services
	{
		height: 620px;
		padding-top: 15px;
		
		h1
		{
			text-align: center;
			font-size: 25px;
			position: relative;
			top: 11px;
			padding-bottom: 5px;
			border-bottom-width: 3px;
			border-bottom-color: black;
			border-bottom-style: solid;
		}
		
		.entry
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.pasek
		{
			margin-top: 40px;
			width: 30%;
			border-bottom-style: solid;
			border-bottom-width: 2px;
			border-bottom-color: lightgray;	
		}
		#pc
		{
			display: none;
		}

		ul
		{
			padding-top: 25px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			list-style: none;
			a
			{
				text-decoration: none;
			}
			.img
			{
				position: relative;
				right: 5%;
				margin-left: auto;
				margin-right: auto;
				width: 60px;
				height: 60px;
			}
			.text
			{		
				position: relative;
				right: 5%;
				margin-top: 20px;
				text-align: center;
				font-size: 18px;
				font-family: 'Source Sans Pro', sans-serif;
				height: 50px;
			}
		}
	}
}